@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(/src/fonts/MuseoSansCyrl500.otf),
        local('Museo Sans Cyrl');
}

@font-face {
    font-family: 'Museo Sans Cyrl300';
    src: url(/src/fonts/MuseoSansCyrl300.otf),
        local('Museo Sans Cyrl300')
}

.body{
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    background: #fffffffF;
    width: 1440fr;
    height: 87px;
    border: 0px, 0px, 0px, 0px;
    justify-content: space-between;
    padding: 20fr, 40fr, 20fr, 40fr;
    margin: 0px;
    box-shadow: 0px 5.84789px 22.1511px rgba(133, 94, 152, 0.0500662), 0px 5.84789px 22.1511px rgba(133, 94, 152, 0.0500662), 0px 2.86674px 10.8589px rgba(133, 94, 152, 0.0399338), 0px 1.13351px 4.29362px rgba(133, 94, 152, 0.0279017);
    box-sizing: border-box;
}/* module / header */

.image-logo{
    display: flex;
    width: 96px;
    height: 47px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.button1{
    display: flex;
    width: 173fr;
    height: 40px;
    margin-right: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--7953-c-3-purple-main, #7953C3);
    background: var(--ffffff-white-main, #FFF);
    transition: 0.3s;
}

.button1:hover{
    background: #7953C3;
}

.button_download_data{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border:0;
    opacity: 0.2;
    background: var(--7953-c-3-purple-main, #7953C3);
}

.div_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.div_name_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.div_name_info_small{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.div_neighbour{
    display: flex;
    width: 121px;
    height: 17px;
    padding: 3px 6px;
    align-items: center;
    gap: 32px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.div_info_text{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.p_info_text{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);
    font-family: Museo Sans Cyrl;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
    flex: 1 0 0;
}


.div_violet{
    display: flex;
    align-items: center;
    gap: 4px;
}

.p_violet{
    color: var(--7953-c-3-purple-main, #7953C3);
    font-family: Museo Sans Cyrl;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
}

.svg_triangle{
    width: 5px;
    height: 2px;
    stroke-width: 0.8px;
    stroke: var(--7953-c-3-purple-main, #7953C3);
}

.div_price{
    display: flex;
    padding: 12px 20px 12px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}

.div_price_up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}

.div_price_metro_down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}
.div_price_mini{
    display: flex;
    width: 198px;
    height: 20px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}
.div_metro_mini{
    display: flex;
    width: 308px;
    height: 14px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}
.div_preferences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.div_alco_neighbour{
    display: flex;
    padding: 3px 4px 3px 0px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(270deg, #F4F4F6 42.79%, rgba(244, 244, 246, 0.00) 100%);
}

.p_dontknow{
    height: 24px;
    align-self: stretch;
    color: var(--040013-black-main, #040013);

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.div_third{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.button_continue{
    display: flex;
    padding: 12px 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border:0;
    opacity: 0.2;
    background: var(--7953-c-3-purple-main, #7953C3);
}

.p_continue{
    color: var(--ffffff-white-main, #FFF);

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.p_emoji{
    color: #000;

    text-align: center;
    /* H3 */
    font-family: Museo Sans Cyrl;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
}

.div_simple{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.div_simple2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.p_tell_abt{
    align-self: stretch;
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.div_alco{
    border: 0;
    display: flex;
    width: 158px;
    height: 16px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.div_nbr{
    border: 0;
    display: flex;
    width: 202px;
    padding-right: 0px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.div_line{
    width: 374px;
    height: 1px;
    opacity: 0.5;
    background: #CCC;
}

.div_extra_nad{
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--ffffff-white-main, #FFF);
    
    /* Default multiple shadows */
    box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03), 0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);
}

.p_info_small{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--040013-black-main, #040013);
    font-family: Museo Sans Cyrl;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
}

.p_name_data{
    flex: 1 0 0;
    color: var(--040013-black-main, #040013);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
}

.p_show_contacts{
    color: var(--ffffff-white-main, #FFF);
    font-family: Museo Sans Cyrl;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px; /* 125% */
    letter-spacing: -0.08px;
}

.p_exit{
    font-family: "Museo Sans Cyrl";
    color: var(--7953-c-3-purple-main, #7953C3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.button1:hover .p_exit{
    color:  #FFFFFF;
}

.main-div{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 160px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px; 
}

.button2{
    display: flex;
    height: 36px;
    margin-right: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--7953-c-3-purple-main, #7953C3);
    background: var(--ffffff-white-main, #FFF);
    transition: 0.3s;
}

.button2:hover{
    background: #7953C3;
}

.p_glavn{
    font-family: "Museo Sans Cyrl";
    color: var(--7953-c-3-purple-main, #7953C3);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.button2:hover .p_glavn{
    color: #FFFFFF;
    
}

.div-first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.h3_new{
    color: var(--040013-black-main, #040013);
/* H3 */
    font-family: "Museo Sans Cyrl";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
}
.div-extra{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: flex-start;
    gap: 16px;
    width: auto;
}

.div_card_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.div_card{
    display: flex;
    width: 614px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    border-radius: 32px;
    background: var(--ffffff-white-main, #FFF);

    /* Default multiple shadows */
    box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03), 0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);
}
.div_photo_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.svg_photo{
    width: 140px;
    height: 140px;
    stroke-width: 1px;
    stroke: #EBEBEB;
}

.p_looks{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);
    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.p_extra{
    color: #CCC;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.img-bar{
    display: flex;
    -items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}
h3{
    margin: 0;
}
p{
    margin: 0;
}

.div_second{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: 60px;
}
.div_column_one{
    display: flex;
    flex-flow: column;
    width: 366px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.div_column_two{

    display: flex;
    width: 614px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.avatar{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px dashed var(--d-9-d-1-e-0-stroke, #CDBDDB);
}

.text_button_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.p_avatar{
    width: 191px;
    color: var(--000-black, #000);
    text-align: center;
    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.button_upload{
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border:none;
    border-radius: 8px;
    background: var(--7953-c-3-purple-main, #7953C3);
}

.text_upload{
    color: var(--ffffff-white-main, #FFF);
/* Small */
    font-family: 'Museo Sans Cyrl';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.text_upload_warn{
    align-self: stretch;
    color: #CCC;
    text-align: center;
    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.button_upload:focus {
    outline: none;
}

.div_name_surname{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    gap: 8px;
}

.p_name_surname{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);
    font-family: 'Museo Sans Cyrl';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.input_name_surname{
    display: flex;
    position: relative;
    width: 366px;
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    gap: 8px;
    box-sizing:border-box;
    border: 2px;;
    border-radius: 8px;
    background: #F4F4F6;
}

.label{
    position: absolute;
    top: 16px;
    left: 12px;
    color:var(--5-d-5-b-66-secondary-black, #5D5B66);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    transition: 0.3s;
    pointer-events: none;
}

.input_name_surname:focus ~ .label,
.input_name_surname:not(:placeholder-shown) ~ .label{
    top: -1px;
    font-size: 12px;
    color: var(#A1A6B1);
}

.div_radio_sex{
    display: flex;
    padding-left: 0px;
    align-items: center;
    gap: 16px;
}

.text_sex{
    display: flex;
    color: var(--040013-black-main, #040013);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    line-height: 24px; /* 150% */
}
.form1{
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.input_date{
    display: flex;
    position: relative;
    width: 200px;
    padding: 12px 8px 12px 12px;
    align-items: center;
    gap: 8px;
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    box-sizing:border-box;
    border: 0px;;
    border-radius: 8px;
    background: #F4F4F6;
}

.label_date{
    position: absolute;
    top: 8px;
    left: 12px;
    color:var(--5-d-5-b-66-secondary-black, #5D5B66);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    transition: 0.3s;
    pointer-events: none;
}

.div_inputs{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.div_about{
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.input_about{
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 366px;
    box-sizing:border-box;
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: #F4F4F6;
}

.input_about:focus ~ .label,
.input_about:not(:placeholder-shown) ~ .label{
    top: -1px;
    font-size: 12px;
    color: var(#A1A6B1);
}

.p_about{
    color: #9E9E9E;
    font-family: Museo Sans Cyrl;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.12px;
}


.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.div_footer{
    display: flex;
    padding: 120px 200px 64px 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    border-top: 1px solid #EBEBEB;
    background: var(--ffffff-white-main, #FFF);
}

.div_rectangle{
    height: 12px;
    align-self: stretch;
    background: var(--7953-c-3-purple-main, #7953C3);
}

.div_text_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.div_line_footer{
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #7953C3;
}

.div_text_bubnezh{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.div_text_footer_up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.div_text_footer_down{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.div_text_footer_down_text{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.div_text_footer_down_buttons{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.h2_footer{
    color: var(--7953-c-3-purple-main, #7953C3);

    /* H2 */
    font-family: Museo Sans Cyrl;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
}

.p_footer_support{
    color: #AAA;

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.p_footer_down{
    color: var(--040013-black-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
h2{
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.button_tg_vk{
    display: flex;
    align-items:center;
    background: transparent;
    border: none !important;
    height: 24px;
    transition: 0.3s;
}


.path_background{
    fill: #F4F4F6;
    transition: 0.3s;
}

.button_tg_vk:hover .path_background{
    fill: #7953C3;
}

.svg_background_button{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #F4F4F6;
    
}



.svg_tg_vk_icon{
    display: flex;
    align-content:center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.p_bub_1{
    flex: 1 0 0;
    color: #AAA;

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.p_bub_2{
    color:#AAA;

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.p_bub_2>span{

    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}


/* попытаюсь создать календарь */







/* конец попытки */


/* для второй страницы */


